body {
	background: #F3F3F3;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 130px;
}
a:hover, a:focus {
	text-decoration: none;
	outline-offset: 0;
}
.header-bg {
	background-color: #fff;
	border-top: 2px solid #d03135;
	height: 90px;
	margin-bottom: 0;
}
.navbar-brand {
	padding: 9px;
}
.navbar-brand img {
  width: 50%;
}
.nav-main {
	text-align: right;
}

.nav.navbar-nav a {
  color: #000 !important;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-top, .nav-main {
  float: right;
  margin-top: 17px;
}
.nav.navbar-nav a:hover {
  border-bottom: 1px solid #0f46a8;
}

#content-wrapper{ min-height:450px;}

/*********Footer CSS ************/

.footer-top {
  background: #0d141b none repeat scroll 0 0;
  padding: 30px 0 0  0;
  text-align: center;
  width: 100%;
}

.footer-navigation li {
  float: left;
  list-style: outside none none;
  margin: 0 10px;
}

.footer-navigation a {
  color: #99c1da;
  font-size: 13px;
  text-transform: uppercase;
}

.footer-bottom {
  background: #000000 none repeat scroll 0 0;
  color: #99c1da;
  font-size: 13px;
  padding: 20px 0;
  text-align: center;
}
.footer-navigation ul {
  display: inline-block;
  padding: 15px 0 0 0;
}

.footer-bottom a {
  color: #5c84b4;
}


/*********Responsive css************/
@media screen and (min-width:220px) and (max-width:767px){
.navbar-brand {
	padding: 20px 6px 0;
	width: 29%;
}
.navbar-brand > img {
	height: auto;
	margin-top: 7px;
	width: 100%;
}
.navbar-toggle .icon-bar {
	border: 1px solid #d03135;
}
.navbar-toggle {
	margin-right: 20px;
	margin-top: 8px;
	padding: 17px 0;
	border: medium none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

body {
	font-size: 13px;
}
.navbar-brand img {
  margin-top: 0;
  width: 45%;
}
.nav-main {
  background: #fff none repeat scroll 0 0;
  float: left;
  text-align: left;
  width: 100%;
}
.navbar-nav {
  margin: 7px 10px;
}
.navbar-default .navbar-nav > li > a {
  padding: 10px;
}
.nav.navbar-nav a:after {
  display: none;
}
}


@media screen and (max-width:360px){

.navbar-brand img {
  width: 80%;
}

}

@media screen and (min-width:768px) and (max-width:1024px){
	
.navbar-brand img {
  width: 80%;
}
.navbar-header {
  float: left;
  width: 100px;
}
.nav.navbar-nav a::after {
  margin-left: 10px;
}	
.navbar-default .navbar-nav > li > a {
  font-size: 13px;
  padding: 10px 14px;
}

}









